<div class="row container">
  <h1 class="headCategory">Sci-Fi</h1><a class="show_all" href="../category/sci-fi"> Pokaż wszystkie</a>
</div>
<div class="row">
  <div class="min_movie" *ngFor="let movie of moviesSciFi; let i=index;">
    <img class="img-fluid img" *ngIf="i<4" src={{movie.thumbnailUrl}}/>
    <div class="gradient" (click)="ogladaj(movie)"></div>
    <span class="title_movie" *ngIf="i<4">{{movie.title}}</span>
    <img class="my_list movieAdd{{movie.id}}" *ngIf="i<4 && movie.inSaved===true" src="assets/img/delete.png"
         (click)="changeStateMyList(movie)">
    <img class="my_list movieDel{{movie.id}}" *ngIf="i<4 && movie.inSaved===false" src="assets/img/add.png"
         (click)="changeStateMyList(movie)">
  </div>
</div>
<div class="row">
  <h1 class="headCategory">Komedie</h1><a class="show_all" href="../category/comedy">Pokaż wszystkie</a>
</div>
<div class="row">
  <div class="min_movie" *ngFor="let movie of moviesComedy; let i=index;">
    <img class="img-fluid img" *ngIf="i<4" src={{movie.thumbnailUrl}}/>
    <div class="gradient" (click)="ogladaj(movie)"></div>
    <span class="title_movie" *ngIf="i<4">{{movie.title}}</span>
    <img class="my_list movieAdd{{movie.id}}" *ngIf="i<4 && movie.inSaved===true" src="assets/img/delete.png"
         (click)="changeStateMyList(movie)">
    <img class="my_list movieDel{{movie.id}}" *ngIf="i<4 && movie.inSaved===false" src="assets/img/add.png"
         (click)="changeStateMyList(movie)">
  </div>
</div>
<div class="row">
  <h1 class="headCategory">Horrory</h1><a class="show_all" href="../category/horror">Pokaż wszystkie</a>
</div>
<div class="row">
  <div class="min_movie" *ngFor="let movie of moviesHorrors; let i=index;">
    <img class="img-fluid img" *ngIf="i<4" src={{movie.thumbnailUrl}}/>
    <div class="gradient" (click)="ogladaj(movie)"></div>
    <span class="title_movie" *ngIf="i<4">{{movie.title}}</span>
    <img class="my_list movieAdd{{movie.id}}" *ngIf="i<4 && movie.inSaved===true" src="assets/img/delete.png"
         (click)="changeStateMyList(movie)">
    <img class="my_list movieDel{{movie.id}}" *ngIf="i<4 && movie.inSaved===false" src="assets/img/add.png"
         (click)="changeStateMyList(movie)">
  </div>
</div>
<div class="row">
  <h1 class="headCategory">Thrillery</h1><a class="show_all" href="../category/thriller">Pokaż wszystkie</a>
</div>
<div class="row">
  <div class="min_movie" *ngFor="let movie of moviesThriller; let i=index;">
    <img class="img-fluid img" *ngIf="i<4" src={{movie.thumbnailUrl}}/>
    <div class="gradient" (click)="ogladaj(movie)"></div>
    <span class="title_movie" *ngIf="i<4">{{movie.title}}</span>
    <img class="my_list movieAdd{{movie.id}}" *ngIf="i<4 && movie.inSaved===true" src="assets/img/delete.png"
         (click)="changeStateMyList(movie)">
    <img class="my_list movieDel{{movie.id}}" *ngIf="i<4 && movie.inSaved===false" src="assets/img/add.png"
         (click)="changeStateMyList(movie)">
  </div>
</div>
<ng-flash-message class="text-center fixed-bottom"></ng-flash-message>
