.home {
  height: 750px;
  overflow: hidden;
}

.headFilm p {
  position: absolute;
  left:70px; top:450px;
  font-family: Cubadak, Arial;
  font-size: 9ex;
  color: aliceblue;
}

.title_main {
  position: relative;
  text-shadow: 0 0 10px #000000;
}

.btnMyList {
  position: absolute;
  left: 70px;
  top: 583px;
}

.buttonDashboard {
  position: absolute;
  left:70px; top:450px;
}

.gradient{
  position:relative;
}

.gradient:active {
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(0, 0, 0, 1) 100%);
}
