<nav class="navbar navbar-dark mb-5 fixed-top" [class.selected]="scroll">
  <a routerLink="/"> <img src="./assets/img/netfliix.png"> </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['home']" [routerLinkActive]="['active']" >Strona Główna</a>
      <a class="nav-item nav-link" [routerLink]="['category']" [routerLinkActive]="['active']">Kategorie</a>
      <a class="nav-item nav-link" [routerLink]="['my_list']" [routerLinkActive]="['active']">Moja lista</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <form class="form-inline md-form form-sm">
        <input class="form-control form-control-sm ml-2 w-75 " type="text" placeholder="Search" aria-label="Wyszukaj">
      </form>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon svgIcon="profil">menu</mat-icon>
          <span [routerLink]="['my_user']">Mój profil</span>
        </button>
        <button mat-menu-item>
          <mat-icon svgIcon="logout">menu</mat-icon>
          <span (click)="logout()" [routerLink]="['login']">Wyloguj</span>
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
